

<router-outlet></router-outlet> 
 <nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand">Welcome Beauties</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <a routerLink = "/user-login"></a>
            <a routerLink = "/user-register"></a>
          </ul>
        </div>
    </div>
  </nav> 
    <router-outlet></router-outlet>
  <!-- <app-customer></app-customer> -->
  <router-outlet></router-outlet>
  <!-- <app-order-item></app-order-item> -->
  <!-- <router-outlet></router-outlet>
  <app-order></app-order> -->
  
  

  


  <!-- <app-category-add></app-category-add> -->
   <!-- <app-category-list></app-category-list> -->